@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Household</h1>
    <div class="row">
        <div class="col-6">
            <h3>Products:</h3>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
        </div>
        <div class="col-6">
            <h3>Add Product:</h3>
            <select name="" id="">
                <option value="">blah</option>
                <option value="">blah</option>
                <option value="">blah</option>
            </select>
        </div>
    </div>
</div>
