McClain_Justin_YellowBelt.zip
Yellow Belt/index.html
Yellow Belt/script.js
Yellow Belt/style.css
Yellow Belt/images/cake.png
Yellow Belt/images/cookie.png
Yellow Belt/images/creme-brulee.jpg
Yellow Belt/images/heart.png
Yellow Belt/images/ice-cream.png
Yellow Belt/images/macarons.jpg
Yellow Belt/images/orange-tart.jpg
Yellow Belt/images/pie.png
