McClain_Justin_YellowBelt.zip
Yellow Belt/index.html
Yellow Belt/script.js
Yellow Belt/style.css
Yellow Belt/images/cake.png
Yellow Belt/images/cookie.png
Yellow Belt/images/creme-brulee.jpg
Yellow Belt/images/heart.png
Yellow Belt/images/ice-cream.png
Yellow Belt/images/macarons.jpg
Yellow Belt/images/orange-tart.jpg
Yellow Belt/images/pie.png
Python/Users_CRUD_MOD.zip
Python/McClain_Justin_Exam.zip
Python/Exam/exam.mwb
Python/Exam/exam.sql
Python/Exam/Pipfile
Python/Exam/Pipfile.lock
Python/Exam/server.py
Python/Exam/flask_app/__init__.py
Python/Exam/flask_app/config/mysqlconnection.py
Python/Exam/flask_app/controllers/cars.py
Python/Exam/flask_app/controllers/users.py
Python/Exam/flask_app/models/car.py
Python/Exam/flask_app/models/user.py
Python/Exam/flask_app/templates/create.html
Python/Exam/flask_app/templates/dashboard.html
Python/Exam/flask_app/templates/edit.html
Python/Exam/flask_app/templates/index.html
Python/Exam/flask_app/templates/info.html
Python/SQL/exam.mwb.bak
Python/SQL/recipes.mwb
