@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Random Passcode</h1>
    <p>@ViewBag.Pass</p>
    <input type="text" class="form-control">
    <a href="/generate" class="btn btn-primary mt-3">Generate</a>
</div>
