@model MeetUp;

<div class="container">
    <div class="header d-flex justify-content-between align-items-center">
        <h1>Dojo Meet Up Center</h1>
        <div class="buttons d-flex">
            <a href="/MeetUp" class="btn btn-primary mr-3">Home</a>
            <a href="/" class="btn btn-info">Log Out</a>
        </div>
    </div>
    <hr/>
    <h2>Create a Meet Up</h2>
    <div class="content">
        <form action="/meetups/new" method="post">
            <div class="form-row">
                <div class="col">
                    <label for="Title">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <input asp-for="Title" class="form-control">
                    <label for="Date">Date and Time</label>
                    <span asp-validation-for="Date" class="text-danger"></span>
                    <input asp-for="Date" class="form-control">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Duration">Duration</label>
                            <span asp-validation-for="Duration" class="text-danger"></span>
                            <input asp-for="Duration" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="DurationLength">Length</label>
                            <span asp-validation-for="DurationLength" class="text-danger"></span>
                            <select asp-for="DurationLength" class="custom-select">
                                <option value="Hours">Hours</option>
                                <option value="Minutes">Minutes</option>
                                <option value="Days">Days</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="Description">Description</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <textarea class="form-control" asp-for="Description" cols="30" rows="7"></textarea>
                    <input type="submit" value="Create Meet Up" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>