@model Wedding;

<div class="text-center">
    <h1>@ViewBag.OneWedding.WedOne and @ViewBag.OneWedding.WedTwo Wedding</h1>
    <a href="/Dashboard" class="btn btn-primary">Dashboard</a> <a href="" class="btn btn-info">Logout</a>
    <h3>Date: @ViewBag.OneWedding.Date</h3>
    <h3>Guests:</h3>
    @foreach (var j in ViewBag.OneWedding.WeddingsRsvp) 
    {
        <p>@j.User.FirstName</p>
    }
</div>